.quiz-container { 
    text-align: center; 
    margin-top: 50px; 
    background-color: #A7DDFC; /* Tilføj baggrundsfarven */
    grid-template-rows: auto 2fr; /* Definer rækkerne */
    gap: 20px; /* Tilføj afstand mellem rækkerne */
    padding: 20px; /* Tilføj padding for at skabe lidt luft omkring indholdet */
} 
.quiz-content { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}


.quiz-image { 
    max-width: 25%; 
    height: auto; 
    margin-right: 35%;
} 


.quiz-buttons { 
    margin-top: 50px;
    display: contents;

} 

.quiz-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px; /* Juster højden efter behov */
}
.quiz-buttons {
    display: flex;
    justify-content: center;
}
.quiz-buttons button {
    margin: 0 10px;
}

.quiz-buttons button { 
    font-size: 20px; margin: 10px; 
    margin: 10px;
    padding: 10px 20px; 
    cursor: pointer;
 }


 .quiz-image, .quiz-billede2, .quiz-billede3 {
    display: none;
}
.quiz-image.active, .quiz-billede2.active, .quiz-billede3.active {
    display: block;
}

 .quiz-header { 
    font-size: 24px; 
    margin-bottom: 40px; 
}
.retry-button {
    display: none;
    margin-top: 20px;
}

.feedback-section {
    display: none;
    margin-top: 50px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFAD98; /* Tilføj baggrundsfarve */
    padding: 20px; /* Tilføj lidt polstring for at give plads omkring indholdet */
    border-radius: 10px; /* Tilføj afrundede hjørner, hvis ønsket */
}
.feedback-section h2 {
    font-size: 4em; /* Juster størrelsen efter behov */
    font-weight: bold;
    flex: 1;
}
.feedback-section img {
    width: 50%;
    height: auto;
    margin-left: 20px;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s ease, opacity 1s ease;
    flex: 1;
}
.feedback-section.show img {
    opacity: 1;
    transform: translateX(0);
}

@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@700&display=swap');

        body {
            font-family: 'Kalnia', sans-serif;
        }

        #nextPageIcon {
            position: absolute;
            bottom: 10px;
            left: 10px;
            width: 50px; /* Juster størrelsen efter behov */
            height: auto;
            opacity: 0;
            transform: translateY(20px);
            transition: transform 0.5s ease, opacity 0.5s ease;
        }
        .feedback-section.show #nextPageIcon {
            display: block;
            opacity: 1;
            transform: translateY(0);
        }
        